{% extends "SogedialIntegrationBundle:Layout:layout.html.twig" %}
{% block body %}
    <section>
        <div class="content add-prospect">
            <div class="breadcrumb-trail-container">
                {{ wo_render_breadcrumbs({ listId: 'wo-breadcrumbs-dashboard-icon' }) }}
            </div>
            <div class="block">
                <div class="space-between-container-small">
                    <div class="grid-s-6">
                        <div class="page-title">
                            {% block title %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="container-edit-client material">
                    {% block stylesheets %}
                        {% stylesheets '@SogedialIntegrationBundle/Resources/public/css/jstree.min.css' %}
                        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
                        {% endstylesheets %}
                    {% endblock %}
                    {% block form %}
                        <div class="grid-s-12 material-form">
                            <div class="material-form-container grid-s-12 grid-m-6">
                                <div class="form-input no-margin-bottom">
                                    <input type="text" id="assortiment_nom" required value="{% if mode == 'edit'%}{{assortiment.nom}}{% endif %}"/>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label for="assortiment_nom">Libellé de l'assortiment</label>
                                </div>
                            </div>
                                <div class="grid-s-12 grid-m-6 marg-v-20">
                                    <form class="material-form">
                                        <div class="material-form-container grid-s-12 grid-padded">
                                                <div class="form-select" style="margin-bottom:0;">
                                                    <label>Assortiment d'un client existant</label>
                                                    <div class="select-container">
                                                        <select id="choose-client-assortiment" name="load-assortiment-client">
                                                            <option value="">Choisir client</option>
                                                        </select>
                                                    </div>
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                            <div class="grid-row">
                                <div class="grid-s-12 grid-m-6 marg-v-10">
                                    <div class="grid-row button-list">
                                        <div class="button-list-item button no-margin blue" id="toggle-check-all">Tout cocher</div>
                                        <div class="button-list-item button no-margin blue" id="toggle-open-first-level">Déployer Secteurs</div>
                                        <div class="button-list-item button no-margin blue" id="toggle-open-second-level">Déployer Rayons</div>
                                    </div>
                                </div>
                                <div class="grid-s-12 grid-m-6 marg-v-10">
                                    <form id="assortiment-product-search-form" class="material-form">
                                        <div class="material-form-container grid-s-12 grid-padded">
                                            <div class="form-input no-margin-bottom">
                                                <input type="search" id="assortiment-product-search-input" autocomplete="off" />
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <label><span class="fa fa-search"></span> Rechercher un produit</label>
                                                <span id="error-search-message" style="color:red"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="grid-s-12">
                                <div id="product-search-tree"></div>        
                                <div id="event_result"></div>
                            </div>
                        </div>

                        <div class="grid-s-12">
                            <div class="grid-row grid-center">
                                <button id="assortiment-submit-button" href="#" class="button blue marg-v-10"><i class="fa fa-save fa-lg"></i> Valider</button>
                            </div>
                        </div>

                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
    <div id="loading-fullscreen" class="loading-fullscreen loading-fullscreen-hidden">
        <div class="loader-commande-point-com loader-commande-point-com-white">
            {% include "SogedialIntegrationBundle:Utils:loaderCommandePointCom.html.twig" with {'svg_id':5} %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var code_client = "{{ code_client }}";
        var mode = "{{mode}}";
        var valeur;
        {% if valeur is defined %}
            valeur = "{{valeur}}";
        {% endif %}
    </script>
    {% javascripts
        '@SogedialIntegrationBundle/Resources/public/js/jstree.min.js'
        '@SogedialIntegrationBundle/Resources/public/js/jstreetable.js'
        '@SogedialIntegrationBundle/Resources/public/js/assortiment.js'
        '@SogedialIntegrationBundle/Resources/public/js/catalogue-tree.js'
        '@SogedialIntegrationBundle/Resources/public/js/formFrontManager.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}






{#     <div class="fixed-assortiment-infos material-form">
        <div class="grid-s-12">
            <div class="grid-s-6">
                 
            </div>
        </div>
    </div> #}
   {#  <div class="grid-s-12 material-form">
        <div class="grid-row">
            <div class="grid-s-12 grid-m-6 marg-v-10">
                <div class="grid-row button-list">
                    <div class="button-list-item button no-margin blue" id="toggle-check-all">Tout cocher</div>
                    <div class="button-list-item button no-margin blue" id="toggle-open-first-level">Déployer Secteurs</div>
                    <div class="button-list-item button no-margin blue" id="toggle-open-second-level">Déployer Rayons</div>
                </div>
            </div>
            <div class="grid-s-12 grid-m-6 marg-v-10">
                <form id="assortiment-product-search-form">
                    <div class="material-form-container grid-s-12 grid-padded">
                        <div class="form-input no-margin-bottom">
                            <input type="search" id="assortiment-product-search-input" autocomplete="off" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label><span class="fa fa-search"></span> Rechercher un produit</label>
                            <span id="error-search-message" style="color:red"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="grid-s-12">
            <div id="assortiment-product-search-tree"></div>        
            <div id="event_result"></div>
        </div>
    </div>

    <div class="grid-s-12">
        <div class="grid-row grid-center">
            <button id="assortiment-submit-button" href="#" class="button blue marg-v-10"><i class="fa fa-save fa-lg"></i> Valider</button>
        </div>
    </div>
    
{% endblock %}
{% block javascripts %}
    <script>
        var code_client = "{{ code_client }}";
        var mode = "{{mode}}";
        {% if valeur is defined %}
        var valeur = "{{valeur}}"
        {% endif %}
    </script>

    {% javascripts
        '@SogedialIntegrationBundle/Resources/public/js/jstree.min.js'
        '@SogedialIntegrationBundle/Resources/public/js/jstreetable.js'
        '@SogedialIntegrationBundle/Resources/public/js/prospect.js'
        '@SogedialIntegrationBundle/Resources/public/js/catalogue-tree.js'
        '@SogedialIntegrationBundle/Resources/public/js/formFrontManager.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}



{% block body %}
    <section>
        <div class="content">
            {{ wo_render_breadcrumbs({ listId: 'wo-breadcrumbs-dashboard-icon' }) }}
            <div class="block">
                <div>
                    <div class="space-between-container">
                        <div>
                            <h2 class="title">{% block title %} {% endblock %}</h2>
                        </div>
                    </div>
                    <div class="container-edit-client">
                    {% block form %}
                        <p>
                            <div>
                                <span>Nombre de produits dans l'assortiment : </span>
                                <span id="products-assortiment-amount">0</span>
                            </div>
                            <label for="assortiment_nom">Libellé de l'assortiment</label>
                            <input type="input" id="assortiment_nom" value="{% if mode == 'edit'%} {{assortiment.nom}} {% endif %}"/>
                        </p>

                        <form id="assortiment-product-search-form">
                            <input type="search" id="assortiment-product-search-input"/>
                        </form>

                        <div id="assortiment-product-search-tree"></div>

                        <div id="event_result"></div>

                        <a id="assortiment-submit-button" href="#" class="button border-blue button-save" style="width: 52px">Valider</a>
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %} #}
{# 
{% block stylesheets %}
    {% stylesheets '@SogedialIntegrationBundle/Resources/public/css/jstree.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        var code_client = "{{ code_client }}";
        var mode = "{{mode}}";
        {% if valeur is defined %}
        var valeur = "{{valeur}}"
        {% endif %}
    </script>

    {% javascripts
        '@SogedialIntegrationBundle/Resources/public/js/assortiment.js'
        '@SogedialIntegrationBundle/Resources/public/js/jstree.min.js'
        '@SogedialIntegrationBundle/Resources/public/js/catalogue-tree.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %} #}