{% if routeName is not defined %}
    {% set routeName = app.request.attributes.get('_route') %}
{% endif %}

{# According to the route name, we know on which page we presently are, thus we can define several parameters #}
{% if routeName == 'sogedial_integration_dashbord' %}
    {% set args = {
        bodyClass: '',
        bodyId: 'dashboard',
        headerParams: {'displayPreviousArrow': 'false', 'leftSide': 'search-product', 'rightSide': 'date', 'search' : search},
        pageTitle: 'Dashboard',
        privileges: 'client',
        sidebarType: 'client-dashboard'
    } %}
{% elseif ((routeName == 'sogedial_integration_catalogue') or (routeName starts with 'SogedialSite_catalogue')) %}
    {% if routeName == 'SogedialSite_catalogue_integration_reload_famille' %}
        {% set args = {
            bodyClass: '',
            bodyId: 'catalogue',
            footerParams: {'footerType': 'catalogue', 'order': result.order, 'totalAmount': result.totalAmount},
            headerParams: {'displayPreviousArrow': 'true', 'leftSide': 'search-product', 'rightSide': 'client-commercial-hidden-on-mobile'},
            pageTitle: 'Catalogue',
            privileges: 'client',
            sidebarType: 'client-catalogue-famille'
        } %}
    {% elseif routeName == 'SogedialSite_catalogue_integration_reload_secteur' %}
        {% set args = {
            bodyClass: '',
            bodyId: 'catalogue',
            footerParams: {'footerType': 'catalogue', 'order': result.order, 'totalAmount': result.totalAmount},
            headerParams: {'displayPreviousArrow': 'true', 'leftSide': 'search-product', 'rightSide': 'client-commercial-hidden-on-mobile'},
            pageTitle: 'Catalogue',
            privileges: 'client',
            sidebarType: 'client-catalogue-secteur'
        } %}
    {% elseif routeName == 'SogedialSite_catalogue_integration_reload_rayon' %}
        {% set args = {
            bodyClass: '',
            bodyId: 'catalogue',
            footerParams: {'footerType': 'catalogue', 'order': result.order, 'totalAmount': result.totalAmount},
            headerParams: {'displayPreviousArrow': 'true', 'leftSide': 'search-product', 'rightSide': 'client-commercial-hidden-on-mobile'},
            pageTitle: 'Catalogue',
            privileges: 'client',
            sidebarType: 'client-catalogue-rayon'
        } %}
    {% else %}
        {% set args = {
            bodyClass: '',
            bodyId: 'catalogue',
            footerParams: {'footerType': 'catalogue', 'order': result.order, 'totalAmount': result.totalAmount},
            headerParams: {'displayPreviousArrow': 'true', 'leftSide': 'search-product', 'rightSide': 'client-commercial-hidden-on-mobile'},
            pageTitle: 'Catalogue',
            privileges: 'client',
            sidebarType: 'client-catalogue'
        } %}
    {% endif %}
{% elseif routeName == 'sogedial_integration_fiche_produit' %}
    {% set args = {
        bodyClass: 'secondary-header',
        bodyId: 'product',
        footerParams: {'footerType': 'catalogue', 'order': result.order, 'totalAmount': result.totalAmount},
        headerParams: {'displayPreviousArrow': 'false', 'leftSide': 'search-product', 'rightSide': 'client-commercial-hidden-on-mobile'},
        pageTitle: 'Fiche produit',
        privileges: 'client',
        sidebarType: 'client-catalogue'
    } %}
{% elseif routeName == 'sogedial_integration_admin_client_assortiments' %}
    {% set args = {
        bodyClass: 'secondary-header',
        bodyId: 'product',
        headerParams: {'displayPreviousArrow': 'false', 'leftSide': 'search-client', 'rightSide': 'client-commercial-hidden-on-mobile'},
        pageTitle: 'Assortiments Client',
        privileges: 'client',
        sidebarType: 'admin'
    } %}
{% elseif routeName == 'sogedial_integration_admin_client' %}
    {% set args = {
        bodyClass: 'secondary-header',
        bodyId: 'product',
        footerParams: {'societe': societe,'footerType': 'catalogue', 'order': result.order, 'totalAmount': result.totalAmount},
        headerParams: {'displayPreviousArrow': 'false', 'leftSide': 'search-client', 'rightSide': 'client-commercial-hidden-on-mobile'},
        pageTitle: 'Fiche Client',
        privileges: 'client',
        sidebarType: 'admin'
    } %}
{% elseif routeName == 'SogedialSite_integration_order_recap' %}
    {% set args = {
        bodyClass: 'secondary-header basket-page',
        bodyId: 'import-basket',
        footerParams: {'footerType': 'panier', 'orderProducts': orderProducts, "societe" : societe},
        headerParams: {'displayPreviousArrow': 'true', 'leftSide': 'date', 'rightSide': 'client-commercial'},
        pageTitle: 'Panier',
        privileges: 'client',
        sidebarType: 'client-catalogue'
    } %}
{% elseif routeName == 'SogedialSite_integration_pending_orders' %}
    {% set args = {
        bodyClass: 'secondary-header order-pages',
        bodyId: 'my-orders',
        headerParams: {'displayPreviousArrow': 'false', 'leftSide': 'date', 'rightSide': 'client-commercial'},
        pageTitle: 'Détail commande',
        privileges: 'client',
        sidebarType: 'client-dashboard'
    } %}
{% elseif routeName == 'SogedialSite_detail_historique_commande' %}
    {% set args = {
        bodyClass: 'secondary-header order-pages',
        bodyId: 'my-orders',
        footerParams: {'footerType': 'detail-commande', 'orderId': orderId, 'orderProducts': orderProducts, 'state': state, 'commandeAs400': listRayons is empty},
        headerParams: {'displayPreviousArrow': 'false', 'leftSide': 'date', 'rightSide': 'client-commercial'},
        pageTitle: 'Historique',
        privileges: 'client',
        sidebarType: 'client-dashboard'
    } %}
{% elseif routeName starts with 'sogedial_integration_stock_engagement' %}
    {% set args = {
        bodyClass: 'demande-stock-engagement secondary-header',
        bodyId: 'dashboard',
        headerParams: {'displayPreviousArrow': 'true', 'leftSide': 'date', 'rightSide': 'client-commercial'},
        pageTitle: 'Demande de stock engagement',
        privileges: 'client',
        sidebarType: 'client-catalogue'
    } %}
{% elseif routeName starts with 'SogedialSite_user_disable' %}
    {% set args = {
    bodyClass: 'commercial',
    bodyId: 'dashboard',
    headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'true', 'leftSide': 'search-client', 'rightSide': 'date'},
    pageTitle: 'Liste de mes clients',
    privileges: 'admin',
    sidebarType: 'admin'
    } %}
{% elseif routeName starts with 'SogedialSite_user_enable' %}
    {% set args = {
    bodyClass: 'commercial',
    bodyId: 'dashboard',
    headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'true', 'leftSide': 'search-client', 'rightSide': 'date'},
    pageTitle: 'Liste de mes clients',
    privileges: 'admin',
    sidebarType: 'admin'
    } %}
{% elseif routeName starts with 'sogedial_integration_admin_mesclients' %}
    {% set args = {
        bodyClass: 'commercial',
        bodyId: 'dashboard',
        headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'true', 'leftSide': 'search-client', 'rightSide': 'date'},
        pageTitle: 'Liste de mes clients',
        privileges: 'admin',
        sidebarType: 'admin'
    } %}
{% elseif routeName starts with 'SogedialSite_integration_messages_clients' %}
    {% set args = {
        bodyClass: 'commercial',
        bodyId: 'dashboard',
        headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'true', 'leftSide': 'search-client', 'rightSide': 'date'},
        pageTitle: 'Messages aux clients',
        privileges: 'admin',
        sidebarType: 'admin'
    } %}
{% elseif routeName starts with 'SogedialSite_integration_new_message_client' %}
{% set args = {
    bodyClass: 'commercial',
    bodyId: 'dashboard',
    headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'true', 'leftSide': 'search-client', 'rightSide': 'date'},
    pageTitle: 'Nouveau message',
    privileges: 'admin',
    sidebarType: 'admin'
} %}

{% elseif routeName starts with 'SogedialSite_integration_edit_message_client' %}
{% set args = {
    bodyClass: 'commercial',
    bodyId: 'dashboard',
    headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'true', 'leftSide': 'search-client', 'rightSide': 'date'},
    pageTitle: 'Edition de message',
    privileges: 'admin',
    sidebarType: 'admin'
} %}

{% elseif ((routeName starts with 'sogedial_integration_admin') or (routeName == 'SogedialSite_ajout_client')  or (routeName == 'SogedialSite_ajout_zone')) %}
    {% if routeName == 'sogedial_integration_admin_panier_detail' %}
        {% set args = {
            bodyClass: 'commercial',
            bodyId: 'dashboard',
            headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'true', 'leftSide': 'search-client', 'rightSide': 'date'},
            pageTitle: 'Dashboard Commercial',
            privileges: 'admin',
            sidebarType: 'admin'
        } %}
    {% elseif routeName == 'sogedial_integration_admin_dashbord' %}
        {% set args = {
            bodyClass: 'commercial',
            bodyId: 'dashboard',
            headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'false', 'leftSide': 'search-client', 'rightSide': 'date'},
            pageTitle: 'Dashboard Commercial',
            privileges: 'admin',
            sidebarType: 'admin'
        } %}
    {% else %}
        {% set args = {
            bodyClass: 'commercial',
            bodyId: 'dashboard',
            headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'true', 'leftSide': 'search-client', 'rightSide': 'date'},
            pageTitle: 'Dashboard Commercial',
            privileges: 'admin',
            sidebarType: 'admin'
        } %}
    {% endif %}
{% elseif routeName == 'sogedial_integration_admin_catalogue_sans_photo' %}
    {% set args = {
        bodyClass: 'commercial',
        bodyId: 'dashboard',
        headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'true', 'leftSide': 'search-client', 'rightSide': 'date'},
        pageTitle: 'Catalogue vue commercial',
        privileges: 'admin',
        sidebarType: 'admin'
    } %}
{% elseif routeName == 'sogedial_integration_super_admin_ca' %}
    {% set args = {
        bodyClass: 'commercial',
        bodyId: 'dashboard',
        pageTitle: "Chiffre d'affaire - Catalogue Sofridis",
        privileges: 'super-admin',
        sidebarType: 'admin'
    } %}
{% elseif routeName == 'SogedialSite_integration_upload_ccv_file' %}
    {% set args = {
        bodyClass: 'commercial',
        bodyId: 'dashboard',
        headerParams: {'isAdmin': 'true', 'displayPreviousArrow': 'true', 'leftSide': 'search-client', 'rightSide': 'date'},
        pageTitle: 'Uploader un fichier CCV',
        privileges: 'admin',
        sidebarType: 'admin'
    } %}
{% endif %}

{% if args is defined  %}
    {% set headerParams = args.headerParams %}
    {% set headerParams = headerParams|merge({"preCommande": preCommandeMode is defined and preCommandeMode == 1, sidebarType: 'client-catalogue' }) %}
    {% set args = args|merge({"headerParams" : headerParams }) %}
{% endif %}

<!doctype html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="utf-8">
    <title>{{ args.pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Additional meta tags for child templates #}
    {% block meta %}{% endblock %}

    {# Common stylesheets for all pages #}
    {% stylesheets
        '@SogedialIntegrationBundle/Resources/public/css/style.css'
        '@SogedialIntegrationBundle/Resources/public/css/jquery-ui.css'
        '@SogedialIntegrationBundle/Resources/public/css/jquery-confirm.css'
        '@SogedialIntegrationBundle/Resources/public/css/font-awesome.min.css'
        '@SogedialIntegrationBundle/Resources/public/css/responsive/style.css'
        '@SogedialIntegrationBundle/Resources/public/css/blue.css'
        '@SogedialIntegrationBundle/Resources/public/enjoyhint/enjoyhint.css'
         %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {# Additional stylesheets specific to child templates #}
    {% block stylesheets %}{% endblock %}
</head>

<body id="{{ args.bodyId }}" class="{{ args.bodyClass }}">

    {# Sidebar #}
    {% if args.sidebarType is defined %}
        {% if args.sidebarType == 'client-dashboard' %}
            {% include "SogedialIntegrationBundle:Dashbord:aside.html.twig" with {'commercialInfo': commercialInfo, 'clientInfo': clientInfo, 'listSociete': listSociete} only %}
        {% elseif args.sidebarType starts with 'client-catalogue' %}
            <aside id="menuCatalogue">
                {% if args.sidebarType == 'client-catalogue-famille' %}
                    {% include "SogedialIntegrationBundle:Catalogue:aside-famille.html.twig"  with {'commercialInfo': commercialInfo, 'codeFamille': codeFamille, 'codeSecteurFamille': codeSecteurFamille, 'codeRayonFamille': codeRayonFamille, 'families': families } %}
                {% elseif args.sidebarType == 'client-catalogue-secteur' %}
                    {% include "SogedialIntegrationBundle:Catalogue:aside-secteur.html.twig"  with {'commercialInfo': commercialInfo, 'codeSecteur': codeSecteur, 'families': families } %}
                {% elseif args.sidebarType == 'client-catalogue-rayon' %}
                    {% include "SogedialIntegrationBundle:Catalogue:aside-rayon.html.twig"  with {'commercialInfo': commercialInfo, 'codeRayon': codeRayon, 'codeSecteurRayon': codeSecteurRayon, 'families': families } %}
                {% else %}
                    {{ render(controller('SogedialIntegrationBundle:Catalogue:sidebar', {'standalone': true})) }}
                {% endif %}
            </aside>
        {% elseif args.sidebarType == 'admin' %}
            {{ render(controller("SogedialIntegrationBundle:LeftSidebar:Index", {'commercialInfo': commercialInfo})) }}
        {% endif %}
    {% endif %}

    {# Header #}
    {% if args.headerParams is defined %}
        {% include "SogedialIntegrationBundle:Layout:header.html.twig" with args.headerParams %}
    {% endif %}

    {# Content, must be overriden in the child template #}
    {% block body %}{% endblock %}

    {# Footer #}
    {% if args.footerParams is defined %}
        {% include "SogedialIntegrationBundle:Layout:footer.html.twig"  with args.footerParams only %}
    {% endif %}

    <script>
        window.masterEnterprise = {{ MasterEnterprise|json_encode|raw }};


        {#var showDidacticiel = false;#}
        {#{% if is_granted('ROLE_PREVIOUS_ADMIN')  %}#}
            {#showDidacticiel = false;#}
        {#{% else %}#}
            {#{% if app.security.getToken().getUser().isPremiereVisite() == true %}#}
                {#showDidacticiel = true;#}
            {#{% endif %}#}
        {#{% endif %}#}

    </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


    {# Common scripts for all pages #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112485015-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112485015-1');
    </script>


    {% javascripts
        '@SogedialIntegrationBundle/Resources/public/js/jquery-ui.js'
        '@SogedialIntegrationBundle/Resources/public/js/datepicker-fr.js'
        '@SogedialIntegrationBundle/Resources/public/js/jquery-confirm.js'
        '@SogedialIntegrationBundle/Resources/public/js/icheck.min.js'
        '@SogedialIntegrationBundle/Resources/public/js/dialog.js'
        '@SogedialIntegrationBundle/Resources/public/js/jquery.slimscroll.min.js'
        '@SogedialIntegrationBundle/Resources/public/js/stickyHeaders.js'
        '@SogedialIntegrationBundle/Resources/public/enjoyhint/enjoyhint.min.js'
        '@SogedialIntegrationBundle/Resources/public/js/detect-zoom.min.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script>
    var locale = $('html').attr('lang');
    var requestsReference = {};

    {% if args.privileges == 'client'  %}
        {{ "var sbs_url_suggest = 'sogedial_integration_suggestions';" }}
        {{ "var url_infinite = 'sogedial_integration_product_load';"}}
        {{ "var cmd_url_infinite = 'sogedial_integration_admin_commandes_load';"}}
    {% elseif args.privileges == 'admin' or args.privileges == 'super-admin' %}
        {{ "var sbs_url_suggest = 'sogedial_integration_admin_suggestions_clients';" }}
        {{ "var url_infinite = 'sogedial_integration_admin_client_load';"}}
        {{ "var cmd_url_infinite = 'sogedial_integration_admin_commandes_load';"}}
    {% endif %}
    {% if preCommandeMode is defined and preCommandeMode == 1 %}
        var preCommandeMode = true;
    {% else %}
        var preCommandeMode = false;
    {% endif %}
    </script>

    {% javascripts
        '@SogedialIntegrationBundle/Resources/public/js/infinite-scroll.js' 
        '@SogedialIntegrationBundle/Resources/public/js/dynamicHandlers.js'
        '@SogedialIntegrationBundle/Resources/public/js/suggest.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% if args.privileges == 'client' %}
    {% javascripts '@SogedialIntegrationBundle/Resources/public/js/script.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {# Scripts for admin privileges #}
    {% elseif args.privileges == 'admin' %}
    {% javascripts '@SogedialIntegrationBundle/Resources/public/js/script-bo.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {# Scripts for super-admin privileges #}
    {% elseif args.privileges == 'super-admin' %}
    {% javascripts '@SogedialIntegrationBundle/Resources/public/js/countUp.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% endif %}

    {# Additional scripts specific to child templates #}
    {% block javascripts %}{% endblock %}

</body>
</html>