{% extends "SogedialIntegrationBundle:Admin/ModificationClient:ajouter-client-template.html.twig" %}
{% block form %}
    <div class="scrollable-content">
        <form method="POST" {% if client.meta is null %}{{ form_enctype(metaClientForm) }}{% else %}{{ form_enctype(credentialsForm) }}{% endif %}
        role="{% if client.meta is null %}metaClientForm{% else %}credentialsForm{% endif %}" novalidate class="material-form">

        {% if client.meta is null %}
            {% for error in metaClientForm.vars.errors %}
                <div class="warning-header-container">
                    <div id="warning-header">
                        {{ error.messageTemplate|trans(error.messageParameters, 'validators')~'' }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% for error in credentialsForm.vars.errors %}
                <div class="warning-header-container">
                    <div id="warning-header">
                        {{ error.messageTemplate|trans(error.messageParameters, 'validators')~'' }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if client.meta is null %}

            {% if metaClients|length > 0 %}
                <div class="grid-s-12 grid-m-6" id="chooseClientWell">
                    <div class="material-well">
                        <div class="form-block-title no-margin-bottom grid-padded">
                            Compte client
                        </div>
                        <div class="material-form-container grid-s-12 grid-padded">
                            <span class="bold-text">Choisissez un compte client existant ou cliquez sur &#171;&nbsp;Nouveau&nbsp;&#187;</span>
                            <br/>
                            {% for metaClient in metaClients %}
                                <div class="material-form-container grid-s-12">
                                    <div class="form-input form-input-checkbox no-margin-bottom">
                                        <input type="radio" name="meta_client_choose" id="meta_client_choose_{{ metaClient.code }}" value="{{ metaClient.code }}"/>
                                        <label for="meta_client_choose_{{ metaClient.code }}" title="{{ metaClient.libelle }} à {{ metaClient.ville }} (client {{ metaClient.raisonSociale }})&nbsp;&nbsp;/&nbsp;&nbsp;Login : {{ metaClient.username }} ">{{ metaClient.libelle }} à {{ metaClient.ville }} (client {{ metaClient.raisonSociale }})&nbsp;&nbsp;/&nbsp;&nbsp;Login : {{ metaClient.username }} </label>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="material-form-container grid-s-12">
                                <div class="form-input form-input-checkbox no-margin-bottom">
                                    <input type="radio" name="meta_client_choose" id="meta_client_choose_nouveau" value="new" checked="checked"/>
                                    <label for="meta_client_choose_nouveau"><span class="bold-text">Nouveau</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="grid-s-12 grid-m-6" id="newClientWell">
                <div class="material-well">
                    <div class="form-block-title grid-padded">
                        Informations client
                    </div>
                    <div class="material-form-container grid-s-12 grid-padded">
                        <div class="form-input">
                            {{ form_widget(metaClientForm.username, {'value' : codeClient|split('-')[1]} ) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            {{ form_label(metaClientForm.username) }}
                        </div>
                    </div>

                    <div class="material-form-container grid-s-12 grid-padded">
                        <div class="form-input">
                            {{ form_widget(metaClientForm.password) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            {{ form_label(metaClientForm.password) }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="grid-s-12 grid-m-6">
                <div class="material-well">
                    <div class="form-block-title grid-padded">
                        Changer le mot de passe de {{ username }}
                    </div>
                    <div class="material-form-container grid-s-12 grid-padded">
                        <div class="form-input">
                            {{ form_widget(credentialsForm.password) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            {{ form_label(credentialsForm.password) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
                <div class="grid-s-12">
                    <div class="grid-row grid-center">
                        {% if client.meta is null and metaClients|length == 0 %}
                            <input type="radio" name="meta_client_choose" id="meta_client_choose_nouveau"
                                    value="new" checked="checked"
                                    style="position:absolute;top:-9999px;left:-9999px;opacity:0;"/>
                        {% endif %}
                        {# Bouton sauvegarde #}
                        <button type="submit" class="button blue marg-v-20" id="{% if client.meta is null %}_submit{% else %}_submit_credentials{% endif %}"><i class="fa fa-save"></i> SAUVEGARDER</button>
                    </div>
                </div>
                {% if client.meta is null %}
                    {{ form_widget(metaClientForm._token) }}
                {% else %}
                    {{ form_widget(credentialsForm._token) }}
                {% endif %}
            </form>
        </div>
    {% endblock %}